html {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#loader {
  height: 18px;
  width: 18px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-left: 10px;
  display: none;
}

button {
  display: inline-block;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

table {
  width: 100%;
  overflow-x: scroll;
}

#alignments {
  width: 50%;
}

th {
  text-align: left;
  border-bottom: 1px solid black;
}
td,
th {
  padding: 10px;
}

td > select {
  width: 100%;
}

tr:not(:first-child):hover {
  background-color: rgba(200, 200, 200, 0.25);
  cursor: pointer;
}

.confirm {
  opacity: 0;
}

.lower {
  background-color: rgba(255, 0, 0, 0.25);
}

.higher {
  background-color: rgba(0, 255, 0, 0.25);
}

[data-name] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-name]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-name]:before,
[data-name]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Show tooltip content on hover */
[data-name]:hover:before,
[data-name]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

[data-name]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-name);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}
