{% extends 'base.html' %} {% block content %}
<h1></h1>
<div class="courses">
  <table>
    <thead>
      <th>Course</th>
      <th>Students</th>
      <th>Essential Standards</th>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr>
        <td><a href="{{ url_for('course', course_id=course.id) }}">{{course.name}}</a></td>
        <td>{{course.total_students}}</td>
        <td>{{course.outcomes}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- <ul>
    {% for course in courses %}
    <li><a href="{{ url_for('course', course_id=course.id) }}">{{course.name}}</a></li>
    {% endfor %}
  </ul> -->
</div>

{% endblock %}
